<!DOCTYPE html>
 <html> 
  <head>
   <title>To-do List</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css"></link>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
  </head>
 <body>
  <nav class="fixed-nav-bar">
  </nav>
  <div class="center">
   <div class="content">
    <div class="container">
      <h2 class="section-title">To-Do</h1>
      <h5><i>Type in your todo and click the 'Add' button</i></h5>
     <table id="input">
      <tr>
       <td><input id="todo" name="progress" placeholder="Wash the dishes"></td>
       <td id="add-btn"><button id="add">Add</button></td>
      </tr>
     </table>
   <hr>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
 <script>
  $(function () {
  // on clicking the add button
  $("#add").click(function() {
   $.getJSON('/json',{
     tasK: $('input[name="progress"]').val(),
   }, function(data) {
     $("#result").text(data.result);
     });           
   }); 
  $("#add").click(function() {
    location.reload();
  });  
 });
</script>

<table id="output">
 <ul id="demo"></ul>
  <ul>
   {% for task in tasks %}
    <tr><td id="task-in-tbl">
     <ul>
      <li id="list-left">
        {% if task.done %} <strike> {% endif %}{{ task.content }} {% if task.done %} </strike>{% endif %}</td>
        <td id="btn-in-tbl">
         <a class="button-link" href="/edit/{{ task.id }}">Edit</a></td>
        <td id="btn-in-tbl">
         <a class="button-link" href="/delete/{{ task.id }}">Delete</a></td>
     </ul>
    </tr>
  {% endfor %}
</table>
</div>
</div>
 <div id="footer"></div>
</center>
</body>
</html>
